/* GETTING STARTED SECTION */

.getting-started-section {
  display: flex;
  flex-wrap: wrap;
  height: 90vh;
  overflow: hidden;
  position: relative;
  user-select: none;
  /* scroll-snap-type: proximity; */
}

.resume-preview{
  flex: 0;
  transition: flex 0.5s ease-out;
}

.blurred-contents-container {
  flex: 1;
  height: 100%;
  overflow: scroll;
  min-width: 327px;
  background-color: rgb(250, 253, 255);
  filter: blur(5px);
  padding-left: 5vw;
  padding-right: 5vw;
  padding-top: 4%;
  padding-bottom: 5vh;
  /* margin-bottom: 50px; */
  pointer-events: none;
  transition: all 0.5s ease;
}

.blurred-contents-container::-webkit-scrollbar {
  display: none;
}


.resume-inputs {
  display: flex;
  flex-wrap: wrap;
  height: 63%;
  overflow: hidden;
  gap: 15px;
  row-gap: 6vh;
  transition: height 0.5s;
}


.input-container {
  flex: 1 1 calc(50% - 8px);
}

.input-field {
  width: 70%;
  font-size: 16px;
  background-color: rgb(239,242,249);
  border: none;
  outline: none;
  height: 5vh;
  border-radius: 3px;
  padding: 0 8px;
}

.label {
  display: inline-block;
  margin-bottom: 5px;
  white-space: nowrap;
  width: 104px;
  color: rgb(130,139,162);
}

.overlay-button {
  position: absolute;
  z-index: 10;
  bottom: 30%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 20px;
  font-weight: 600;
  padding: 2.3vh 30px;
  color: white;
  background-color: rgb(26,145,240);
  border: none;
  border-radius: 4px;
}

.overlay-button:hover{
  background-color: rgb(20, 134, 228);
}

.overlay-button:active {
  background-color: rgb(19, 121, 204);
}

.add-button {
  display: block;
  color: rgb(26,145,240);
  font-weight: 500;
  background-color: transparent;
  margin-top: 10px;
  margin-bottom: 40px;
  border: none;
  font-size: 16px;
  cursor: pointer;
}

/* SECTION 2 */

.title {
  display: block;
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 10px;
}

.input-tip {
  font-size: 14px;
  color: gray;
  word-break: keep-all;
  margin-bottom: 10px;
}

/* .summary-input {
  display: block;
  width: 100%;
  height: 28vh;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 20px;
  scroll-snap-type: none;
  scrollbar-width: none;
  resize: none;
} */

/* EMPLOYEMENT HISTORY */

.employment-history-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  row-gap: 10px;
}

.single-history-container {
  display: flex;
  flex-wrap: wrap;
  width: 85%;
  /* height: 440px; */
  row-gap: 10px;
  column-gap: 10px;
  /* padding: 0 0 50px 0; */
  padding: 0 6% 3% 6%;
  margin-bottom: 30px;
  border: solid;
  border-color: rgb(212, 212, 212);
  border-width: 1px;
  border-radius: 3px;
  overflow: hidden;
  transition: height 1s;
}

.history-summary-container {
  width: 100%;
  margin-top: 10px;
}

.job-history-summary {
  width: 96%;
  height: 28vh;
  font-size: 16px;
  resize: none;
  padding: 10px 10px;
  /* margin-bottom: 20px; */
  background-color: rgb(239,242,249);
  border: none;
  border-radius: 4px;
  outline: none;
}

.history-input-container {
  flex: 1 1 calc(50% - 8px);;
}

.container-name {
  display: flex;
  width: 100%;
  height: 50px;
  align-items: center;
  justify-content: center;
  padding-top: 6px;
  padding-bottom: 6px;
  /* display: inline-block; */
}

.date-input{
  margin-bottom: 4px;
}

.container-name button {
  color: rgb(26,145,240);
  font-weight: 500;
  background-color: transparent;
  border: none;
  font-size: 16px;
  cursor: pointer;
} 

.container-name-label {
  flex: 1;
  align-self: center;
}

/* slider */
.slider-container {
  display: flex;
  align-items: center;
  gap: 1px;
}
.slider {
  appearance: none;
  -webkit-appearance: none; 
  -moz-appearance: none;
  width: 40px;
  height: 30px;
  background-color: rgb(241,242,255);
  /* border-left: solid 1px;
  border-right: solid 1px; */
  /* border-bottom: solid 1px; */
  border-radius: 2px;
  cursor: pointer;
  transition: background-color 0.5s ease-out;
}

.slider:checked[value="red"] {
  background-color: rgb(254,125,139);
}

.slider:checked[value="orange"] {
  background-color: rgb(246,133,89);
}

.slider:checked[value="l-orange"] {
  background-color: rgb(236,147,12);
}

.slider:checked[value="green"] {
  background-color: rgb(72,186,117);
}

.slider:checked[value="purple"] {
  background-color: rgb(155,161,251);
}

#red:checked ~ .slider {
  background-color: rgb(255,234,236);
}

#orange:checked ~ input[type="radio"] {
  background-color: rgb(254,235,227);
}

#l-orange:checked ~ input[type="radio"] {
  background-color: rgb(255,242,204);
}

#green:checked ~ input[type="radio"] {
  background-color: rgb(231,244,237);
}

#purple:checked ~ input[type="radio"] {
  background-color: rgb(241,242,255);
}
